@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">User Management System</h1>
    
    <h3>This app demonstrates user management system with authentication and access control.
    </h3>
    <br />
    <img src="https://thumbor.forbes.com/thumbor/fit-in/900x510/https://www.forbes.com/advisor/wp-content/uploads/2023/05/Customer_Profiles_-_article_image.jpg" width="800" height="auto" />
    <br />
    <br />
    <p>Created by Created by Group - 1: David Owopetu, Abisola Olakanmi and Dhyan Trivedi</p>
</div>
